{% extends 'polls/layout.html' %} {% block content %}
<div class="mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center mt-7">
  <h1 class="text-center text-3xl mb-10 underline decoration-blue-400">
    Text Cleaner
  </h1>
  <form method="POST" class="max-w-7xl w-full form-control px-4 py-2" id="form">
    {% csrf_token %}
    <textarea
      id="text"
      name="text"
      class="w-full form-control px-4 py-2 rounded-md"
      style="height: 320px; border: 1px solid rgba(182, 182, 182, 0.51)"
      placeholder="Copy and paste your text here and click the clean button."
    ></textarea>
    <button
      id="text-clean"
      class="bg-blue-400 text-white px-4 py-2 rounded mb-4 mt-4"
    >
      Clean Text
    </button>
  </form>

  <div class="max-w-7xl w-full mt-10 hidden px-4 py-2" id="result-box">
    <h2 class="text-xl font-semibold">Result:</h2>
    <p
      class="text-base mt-4 bg-gray-100 px-4 py-2 rounded-md border-gray-300"
      id="correct_text"
    ></p>
  </div>
</div>
<script>
  const form = document.getElementById("form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    fetch("/clean/", {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.result) {
          document.getElementById("correct_text").innerText = data.correct_text;
          const resultBox = document.getElementById("result-box");
          resultBox.classList.remove("hidden");
          resultBox.classList.add("flex", "flex-col");
          console.log("We are in data:", data.result);
        } else {
          alert(data.error);
        }
      })
      .catch((err) => {
        alert("Error cleaning your text, check console");
        console.log("Error text cleaning: ", err);
      });
  });
</script>
{% endblock %}
